html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-snack-bar-container button {
    color: white;
}

.mat-snack-bar-container.app-snackbar-success {
    color: green;
}

.mat-snack-bar-container.app-snackbar-error {
    color: red;
}

